extends layout

block append content
	blockquote
		| "How you keep an audience of under 5's completely enthralled and entertained
		| for 45 minutes is amazing, great show!!"
		footer Mandy Lee, Highnam Under 5's Playgroup
	blockquote
		| "Our 5 year old son has been talking non about his Super Hero Magic Party..
		| his special balloon robot arm you made for him was so amazing too...Thanks!!"
		footer Charlotte Woodland, Abbeymead
	p.
		If you are looking to hire a childrens' entertainer around the Gloucestershire
		area for your child's birthday or special occasion. Michael can provide a show
		of laughs, amazement and pure fun for you and your guests. Having worked with
		children for the last 15 years and originally performing magic shows at Legoland
		Windsor, he certainly knows how to blend the right amount interaction and
		entertainment to make your child's occasion one that they will never forget!
	blockquote
		| "You made my end of term party so special. Every child just kept talking
		| about the magic show for the next week!!"
		footer Melanie Eamer, Child Minder, Hempsted