head
	title Funtime Magic Show
	meta(name="viewport", content="width=device-width", intial-scale="1.0")
	link(href="assets/libs/bootstrap.min.css", rel="stylesheet", media="screen")
	script(data-main="dist/js/main", src="assets/libs/requirejs.2.1.8.min.js", media="screen")
