nav(class="navbar navbar-default", role="navigation")
	div.navbar-header
		button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-main-collapse")
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
	div(class="collapse navbar-collapse navbar-main-collapse")
		ul(class="nav navbar-nav")
			li
				a(href="index.html") Home
			li
				a(href="parties.html") Parties &amp; Booking
			li
				a(href="booking.html") Book a Party
			li
				a(href="contact.html") Contact Us