nav(class="navbar navbar-default", role="navigation")
	div.navbar-header
		button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-main-collapse")
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
	div(class="collapse navbar-collapse navbar-main-collapse")
		ul(class="nav navbar-nav")
			li
				a(href="/") Home
			li
				a(href="/parties") Parties &amp; Booking
			li
				a(href="/booking") Book a Party
			li
				a(href="/contact") Contact Us