*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: blue;
	font-size: 16px;
}

h2{
	color:red;
}
.party-headers{
	color:blue;
}

.navbar {
	margin: 0;
}

.container {
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
/*	border-radius: 5px 5px 0 0;*/
}

.heading {
	background: url('../images/logo.png') no-repeat;
	display: block;
	margin: 10px auto 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	direction: ltr;
	width: 288px;
	height: 186px;
}

footer {
	background: red;
	color: white;
	padding: 20px;
	margin: 0 auto;
}

iframe {
	display: none;
}

.form-horizontal {
	padding: 0 15px 15px 15px;
}


@media (min-width: 768px) {
	footer,
	.navbar {
		width: 750px;
	}
}

@media (min-width: 992px) {
	footer,
	.navbar {
		width: 970px;
	}

	.navbar {
		margin: 0 auto;
		border: 0;
		border-radius: 0;
	}

	.navbar a {
		font-size: 20px;
	}

	.nav > li > a {
		padding-left: 70px;
		padding-right: 70px;
	}

	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		background: transparent;
		background-position: 10px 3px;
		background-repeat: no-repeat;
	}

	.navbar-default .navbar-nav > li > .red-splodge:hover,
	.navbar-default .navbar-nav > li > .red-splodge:focus {
		background-image: url(../images/red_splodge.png);
	}

	.navbar-default .navbar-nav > li > .blue-splodge:hover,
	.navbar-default .navbar-nav > li > .blue-splodge:focus {
		background-image: url(../images/blue_splodge.png);
	}

	.navbar-default .navbar-nav > li > .yellow-splodge:hover,
	.navbar-default .navbar-nav > li > .yellow-splodge:focus {
		background-image: url(../images/yellow_splodge.png);
	}
}

@media (min-width: 1200px) {
	footer,
	.navbar {
		width: 1170px;
	}
}